.chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;

}

.left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
  overflow: scroll;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conversation:hover {
  background-color: #80808038;
  cursor: pointer;
}

.conversation>div {
  position: relative;
}

.online-dot {
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}

.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;

}

@media screen and (max-width: 768px) {
  .chat {
    grid-template-columns: 16% auto;
  }
}