.logo-search {
  display: flex;
}

.search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}

.search > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
